.card{
    display: flex;
    margin-left: 30px;
    margin-top: 40px;
    border: 1px solid rgb(129, 129, 129);
    max-width: 400px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;

}
.my-profile{
    border-radius: 10px;
}
.my-name{
    text-indent: 30px;
}
.my-text{
    position: relative;
    top: 60px; 
    left: -110px;
    
}